@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  font-variant-numeric: tabular-nums;
  overscroll-behavior: none;
  user-select: none;
}

/* LOGO */

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.sortify {
  font-weight: 700;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.sortify:hover {
  filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
    drop-shadow(0 4px 3px rgba(255, 255, 255, 0.1));
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(133, 62, 244);
  color: rgb(255, 255, 255);
  height: 60px;
  font-weight: 600;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  padding: 15px;
}

.nav-right-position {
  display: flex;
  gap: 20px;
}

.logoutbtn {
  border: 0.8px solid rgb(240, 240, 240);
  color: rgb(226, 226, 226);
  font-size: 1rem;
  padding: 5px 18px;
  border-radius: 7px;
  align-items: center;
  display: flex;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.logoutbtn:hover {
  color: rgb(255, 255, 255);
  border: 0.9px solid white;
  filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
    drop-shadow(0 4px 3px rgba(255, 255, 255, 0.1));
}

.profile-icon {
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.profile-icon:hover {
  filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
    drop-shadow(0 4px 3px rgba(255, 255, 255, 0.1));
}

/* ONBOARDING PAGE */

.onboarding-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: rgb(133, 62, 244);

  filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
    drop-shadow(0 4px 3px rgba(255, 255, 255, 0.1));
  gap: 50px;
}

.onboarding-logo {
  height: 100px;
  position: absolute;
  right: 5%;
  top: 2%;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 25px;
}

.version {
  background-color: rgb(37, 221, 37);
  max-width: fit-content;
  padding: 3px 7px;
  border-radius: 7px;
  color: rgb(208, 255, 219);
  font-weight: 600;
  filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
    drop-shadow(0 4px 3px rgba(255, 255, 255, 0.1));
  margin-bottom: 10px;
}

.intro-title {
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
  color: white;
  font-weight: 800;
  letter-spacing: -0.016em;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.intro-description {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.89);
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-top: 10px;
}

.faded {
  color: rgba(255, 255, 255, 0.301);
}

.span-flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
}

.whychooseus {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: rgba(225, 225, 225, 0.8);
  font-weight: 700;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

@media only screen and (max-width: 1000px) {
  .whychooseus {
    flex-direction: column;
    justify-content: left;
  }
}

.stars {
  display: flex;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.versiongithub {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* ONBOARDING LOGIN COMPONENT */

.login-bg {
  background-color: white;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

/* Tasks CSS */

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 40px;
  gap: 5px;
}

.task-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(14, 14, 14);
  border-bottom: 6px solid rgb(92, 168, 255);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.task-description {
  font-weight: 500;
  letter-spacing: -0.009em;
  font-size: 1.4rem;
  text-align: center;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.task-input {
  outline: none;
  border: 1px solid rgb(169, 169, 169);
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  filter: drop-shadow(0 10px 8px rgba(131, 131, 131, 0.04))
    drop-shadow(0 4px 3px rgba(159, 159, 159, 0.1));
}

.task-input:hover {
  border: 1px solid black;
}

.task-input:focus {
  border: 1px solid black;
}

.all-task-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.addtaskbtn {
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: rgb(133, 62, 244);
  padding: 5px 25px;
  margin-top: 1rem;
  border-radius: 5px;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  color: rgb(239, 239, 239);
}

.addtaskbtn:hover {
  background-color: rgb(148, 82, 255);
  color: white;
  filter: drop-shadow(0 10px 8px rgba(255, 255, 255, 0.04))
    drop-shadow(0 4px 3px rgba(255, 255, 255, 0.1));
}

.minutes-input {
  outline: none;
  border: 1px solid rgb(169, 169, 169);
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 8rem;
  filter: drop-shadow(0 10px 8px rgba(131, 131, 131, 0.04))
    drop-shadow(0 4px 3px rgba(159, 159, 159, 0.1));
  margin-top: 2px;
}

.deadline-input {
  outline: none;
  text-transform: uppercase;
  border: 1px solid rgb(169, 169, 169);
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  width: 9rem;
  filter: drop-shadow(0 10px 8px rgba(131, 131, 131, 0.04))
    drop-shadow(0 4px 3px rgba(159, 159, 159, 0.1));
  margin-top: 2px;
}

.submittaskbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: rgb(133, 62, 244);
  padding: 5px 25px;
  margin-top: 2rem;
  border-radius: 5px;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  color: rgb(239, 239, 239);
}

.submittaskbtn:hover {
  background-color: rgb(152, 88, 254);
}

.submittaskbtn:active {
  transform: scale(0.98);
}

.hidetaskbtn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(92, 168, 255);
  color: rgb(239, 239, 239);
  font-weight: 500;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  font-size: 1.3rem;
  padding: 5px;
}

.hidetaskbtn:hover {
  background-color: rgb(132, 189, 255);
}

.all-tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 55vh;
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  padding: 2rem;
}

.each-task-container {
  border: 1px solid black;
  padding: 5px;
}
